In [1]:
#import
import pandas as pd
import numpy as np

<hr> 

## **Question 1** : 
What's the version of NumPy that you installed?

In [2]:
np.__version__

'1.23.2'

<hr> 

## **Question 2** : 
How many records are in the dataset?

In [3]:
#Read data
df = pd.read_csv("data.csv")

In [4]:
#Number of records
df.shape[0]

11914

In [5]:
#df.info()

<hr> 

## **Question 3** : 
Who are the most frequent car manufacturers (top-3) according to the dataset?

In [6]:
#Top 3 most frequent car
df["Make"].value_counts().sort_values(ascending=False).head(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

<hr> 

## **Question 4** : 
What's the number of unique Audi car models in the dataset?

In [7]:
#df.columns

In [8]:
"Audi" in list(df["Make"].unique())

True

In [9]:
Audi = df[df["Make"] == "Audi"]

In [10]:
Audi.count()

Make                 328
Model                328
Year                 328
Engine Fuel Type     328
Engine HP            328
Engine Cylinders     328
Transmission Type    328
Driven_Wheels        328
Number of Doors      328
Market Category      328
Vehicle Size         328
Vehicle Style        328
highway MPG          328
city mpg             328
Popularity           328
MSRP                 328
dtype: int64

<hr> 

## **Question 5** : 
How many columns in the dataset have missing values?

In [11]:
df.isnull().sum().sort_values(ascending=False)

Market Category      3742
Engine HP              69
Engine Cylinders       30
Number of Doors         6
Engine Fuel Type        3
Make                    0
Model                   0
Year                    0
Transmission Type       0
Driven_Wheels           0
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

<hr> 

## **Question 6** : 

Now, calculate the median value of "Engine Cylinders" once again.

In [12]:
#Find the median value of "Engine Cylinders" column in the dataset.
impute_value = df["Engine Cylinders"].median()
impute_value

6.0

In [13]:
#Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
df["Engine Cylinders"] = df["Engine Cylinders"].fillna(impute_value)

In [14]:
#Find the median value of "Engine Cylinders" column in the dataset.
impute_value = df["Engine Cylinders"].median()
impute_value

6.0

<hr> 

## **Question 7** :

In [15]:
df.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

In [16]:
df.index

RangeIndex(start=0, stop=11914, step=1)

In [17]:
lotus = df[df["Make"] == "Lotus"]

In [21]:
lotus.count().unique()

array([29])

In [15]:
#Select all the "Lotus" cars from the dataset.
lotus = df[df["Make"] == "Lotus"]

In [25]:
#Select only columns "Engine HP", "Engine Cylinders".
Engine_HP = df["Engine HP"] 
Engine_Cylinders = df["Engine Cylinders"]

In [26]:
#Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
df_duplicate_cleaned = df.drop_duplicates(keep=False)

In [27]:
df_duplicate_cleaned.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

In [32]:
df_duplicate_cleaned.shape

(10582, 16)

In [18]:
#Get the underlying NumPy array. Let's call it X.

In [19]:
#Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose,
#use X.T. Let's call the result XTX. Invert XTX.

In [20]:
#Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].

In [21]:
#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

In [22]:
#What's the value of the first element of w?